html {
    scroll-behavior: smooth;
}

body {
    background: rgb(12,51,97);
    background: linear-gradient(90deg, rgba(12,51,97,1) 36%, rgba(131,58,180,1) 69%);
}

.main-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.row {
    padding-top: 20px;
}

.card {
    margin-bottom: 20px;
}

.card-body p,
.card-text {
    color: #000;
}

.table {
    text-align: center;
    color: #fff;
}

@media (max-width: 600px) {
    .table {
        font-size: 12px;
    }
}

.title {
    color: #fff;
    text-align: center;
}

p {
    color: #fff;
}

.footer-container {
    margin-top: auto;
}

section {
    padding-bottom: 25px;
}

h1 {
    color: #fff;
    padding: 15px 0 15px 0;
}

a {
    color: #000;
    text-decoration: none;
}

.coaches .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coaches .row .card img {
    max-width: 284px;
    max-height: 190px;
}

@media (min-width: 770px) {
    .coaches .row .card {
        margin-right: 15px;
    }
}

.coaches h1,
.coaches p {
    text-align: center;
}

.container .row .col img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 275px;
}

.card-title {
    text-align: center;
}

.carousel .carousel-inner .carousel-item .carousel-caption {
    background-color: rgba(0, 0, 0, .3);
}

.carousel,
.carousel-inner>.item>img {
    max-width: 750px;
    max-height: 550px;
}

.achievements {
    display: grid;
    justify-content: center;
}

.achievements h1,
.achievements p {
    text-align: center;
}

.navbar-brand {
    font-size: 1.10rem;
}

.navbar-toggler {
    font-size: 0.9rem;
}