<div class="footer-container">
    <footer class="text-center text-white" style="background-color: #f1f1f1;">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="https://www.facebook.com/profile.php?id=100063736114458" role="button"
                    data-mdb-ripple-color="dark" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <!-- Instagram -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="https://www.instagram.com/tkdmaster_kwon_costarica/" role="button"
                    data-mdb-ripple-color="dark" target="_blank"><i class="fab fa-instagram"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: #ffff;">
            &copy; 2023 Copyright: Master Kwon
        </div>
        <!-- Copyright -->
    </footer>
</div>