<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/coaches/signin">
            <img src="/imgs/Escudo.png" width="60" height="60"
                class="d-inline-block align-center" alt="">
            Taekwondo Master Kwon
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#history">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#coaches">Entrenadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#achievements">Logros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Disabled</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Atletas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/athletes">Todas los atletas</a>
                        <a class="dropdown-item" href="/athletes/add">Agregar un nuevo atleta</a>
                        <a class="dropdown-item" href="/athletes/summary">Resumen de los atletas</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Entrenadores
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/coaches">Todas los entrenadores</a>
                        <a class="dropdown-item" href="/coaches/add">Agregar un nuevo entrenador</a>
                    </div>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/coaches/logout">Cerrar sesión</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>